.card {
    background-color: #fff;
    border-radius: 8px;
    color: black;
    padding: 10px;
    width: 220px;

    .card-img {
        overflow: hidden;
        border-radius: 4px;
        background-color: grey;
        width: fit-content;
        height: fit-content;
        display: flex;
        place-content: center;

        img {
            width: 100%;
        }
    }

    .card-header {
        margin-top: 10px;
        padding: 0 2px;
    }

    .card-description {
        padding: 0px 2px;

        p {
            $height: 5;
            overflow-y: auto;
            // text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            // -webkit-line-clamp: $height;
            height: calc(1.5rem * $height);
            padding-right: 5px;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-button:start:decrement {
                height: 0px;
            }

            &::-webkit-scrollbar-button:end:increment {
                height: 0px;
            }
        }
    }

    .card-footer {
        border-top: 1px solid grey;
        padding-top: 10px;
    }
}