.search-bar {
    background-color: #252931;
    display: flex;
    border-radius: 20px;
    padding: 4px 10px;

    &:focus-within {
        outline: .5px solid #8ab4f8;
    }

    .search-input {
        outline: none;
        border: none;
        color: hsla(0, 0%, 100%, .87);
        background-color: transparent;
        flex-grow: 1;
        caret-color: #8ab4f8;
        padding-left: .8rem;
        padding-right: .5rem;

        &::placeholder {
            color: #e8eaed
        }
    }

    .search-btn {
        background-color: transparent;
        outline: none;
        border: none;
        color: white;

        &:focus-visible {
            outline: .5px solid #8ab4f8;
        }
    }
}