@media screen and (min-width: 576px) {
    #app {
        header {

            nav {
                padding: 0px 24px;

                &>a:nth-child(1) {
                    img {
                        height: 36px;
                    }

                    h3 {
                        font-size: 1.73rem;
                        margin: 2.8px 0 auto 0;
                    }
                }

                ul {
                    display: flex;
                    margin: 0;
                }

                .hamburger-btn {
                    display: none;
                }
            }
        }

        aside {
            display: none;
        }

        main {
            .jumbotron .jumbotron-content {
                .jumbotron-headline {
                    font-size: 5vw;
                    margin-top: 3rem;
                    width: 80%;
                }

                .jumbotron-description {
                    font-size: calc(2vw + .4rem);
                    padding: 0 24px;
                    width: 90%;
                }
            }

            .detail-restaurant {
                .restaurant-menus-list {
                    flex-direction: row;
                    gap: 20;
                    justify-content: space-evenly;

                    .menu-list-category {
                        flex-grow: 1;
                    }
                }
            }

        }
    }
}