@media screen and (min-width: 576px) {
    #app {
        header {
            height: fit-content;

            nav {
                padding: 8px 24px;

                &>a:nth-child(1) {
                    img {
                        height: 36px;
                    }

                    h3 {
                        font-size: 24px;
                    }
                }

                ul {
                    display: flex;
                    margin: 0;
                }

                .hamburger-btn {
                    display: none;
                }
            }
        }

        aside {
            display: none;
        }

        main .jumbotron .jumbotron-content {
            .jumbotron-headline {
                font-size: 5vw;
                margin-top: 3rem;
                width: 80%;
            }

            .jumbotron-description {
                font-size: calc(2vw + .4rem);
                padding: 0 24px;
                width: 90%;
            }
        }
    }
}