@media screen and (min-width: 762px) {
    #app {
        main {
            .jumbotron {
                aspect-ratio: 3/1.2;

                .jumbotron-bg {
                    img {
                        aspect-ratio: 3/1.2;
                    }

                }

                .jumbotron-content {
                    padding-top: 5rem;
                    justify-content: unset;

                    .jumbotron-headline {
                        font-size: 4.6vw;
                        margin-top: 0;
                        // font-size: 3rem;
                    }

                    .jumbotron-description {
                        width: 80%;
                    }
                }
            }

            .search-bar {
                margin: 24px auto;
            }

            .restaurant-list {
                padding: 16px 24px;

                .card {
                    flex-basis: 31%;
                    // max-width: 260px;
                }
            }

            .detail-restaurant {
                .detail-header-title .wrapper {
                    padding: 20px 10px;
                }

                .detail-body img {
                    border-radius: 8px;
                    display: inline;
                    float: inline-start;
                    margin-right: 24px;
                    width: 40%;
                }
            }

        }

        .review-box {
            [name=review] {
                min-height: calc(1.5rem * 4);
            }
        }
    }
}