$z_0: 0;
$z_1: 100;
$z_2: 200;
$z_3: 300;
$z_modal: 1000;

$colorBlack: #1e2225;
$colorBody: #1a1b1d;
$colorYellow: #e8db21;
$colorGreen: #689739;

html,
body {
    background-color: $colorBody;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 99999;
}

.skip-link:focus {
    top: 0;
}

#app {
    $headerHeight: 52px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        margin: 0;
        display: flex;
        width: 100%;
        position: sticky;
        top: 0;
        height: $headerHeight;
        box-shadow: 0px 0px 8px 1px black;
        z-index: $z_3;

        &::before {
            content: '';
            // backdrop-filter: blur(10px);
            background-color: $colorBody;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: $z_3 - 1;
        }

        nav {
            padding: 0px 12px;
            z-index: $z_3 + 1;

            &>a:nth-child(1) {
                display: flex;
                text-decoration: none;
                align-items: center;

                img {
                    height: 32px;
                    padding-top: 3px;
                    margin: auto 1px
                }

                h3 {
                    margin: 0;
                    color: #bb0404;
                    height: fit-content;
                    font-size: 1.4rem;
                    margin: .96px 0 auto 0;
                }
            }

            ul {
                display: none;
                column-gap: 16px;
            }
        }

        .hamburger-btn {
            font-size: 24px;
            font-weight: bold;
            color: white;
            background-color: transparent;


            border-radius: 8px;
            padding: 0px;

            &:not(:focus) {
                border: none;
                outline: none;
            }

            &:focus {
                border: 2px solid white;
                outline: 2px solid black;
            }
        }
    }

    aside {
        width: 70vw;
        position: fixed;
        right: 0;
        top: $headerHeight;
        bottom: 0;
        z-index: $z_2;
        visibility: hidden;
        transform: translateX(100%);
        transition-property: visibility, transform;
        transition: ease-in-out 500ms;

        &.active {
            transform: translateX(0);
            visibility: visible;
        }

        nav {
            position: relative;
            height: 100%;
            align-items: start;
            z-index: $z_2 + 1;
            color: white;
            background-color: $colorBlack;

            ul {
                width: 100%;
                flex-direction: column;
                row-gap: 10px;
                font-weight: bold;
                margin: 12px 0px;
                padding: 12px 24px;
                align-items: start;

                li {
                    width: 100%;
                    align-items: start;
                    display: flex;
                }

                a {
                    justify-content: start !important;
                    align-items: center !important;
                    width: 100%;
                }
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        width: 100%;

        ul {
            display: flex;
            padding: 0 12px;
            margin: 0px;

            li {
                list-style: none;


                a {
                    text-decoration: none;
                    color: inherit;

                    display: flex;
                    align-items: center;
                    justify-content: center;


                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    main {
        flex-grow: 1;

        .jumbotron {
            position: relative;
            margin-bottom: 44px;
            background-size: cover;
            aspect-ratio: 3/1.5;
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: fit-content;
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

            .jumbotron-bg {
                width: 100%;

                img {
                    width: 100%;
                    aspect-ratio: 3/1.5;
                    object-fit: cover;
                    object-position: top;
                }

            }

            .jumbotron-content {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: 2;
                background-color: #1a1b1d8f;
                row-gap: 10px;

                .jumbotron-headline {
                    margin: 0;
                    border-radius: 20px 0;
                    color: #e8db21;
                    font-size: 5vw;
                    padding: 2px 10px;
                }

                .jumbotron-description {
                    padding: 2px 10px;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    // flex-grow: 1;
                    border-radius: 8px;
                    padding: 0 20px;
                }
            }
        }

        .search-bar {
            margin: 20px;
            max-width: 576px;
        }

        .restaurant-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            text-align: left;
            padding: 16px;
            align-items: center;
            justify-content: center;


            .card {
                flex-grow: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                max-width: 88%;
                min-width: 250px;

                .card-description {
                    margin: 10px 0;
                    flex-grow: 1;
                }

                #restaurant-description {
                    margin: 0;

                }

                .card-img {
                    // max-height: 220px;
                    overflow: hidden;
                    aspect-ratio: 3 / 2;
                    width: 100%;
                }

                #restaurant-img {
                    width: 100%;
                }

                #restaurant-location,
                #restaurant-rating {
                    // color: grey;
                    font-size: 13px;
                }

                .restaurant-location-container {
                    color: #bb0404;
                }

                #restaurant-name {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    height: fit-content;
                }

                .card-footer {
                    display: flex;
                    place-content: center;
                    place-items: center;

                    #open-detail-btn {
                        outline: none;
                        border: none;
                        background-color: #0d6efd;
                        color: white;
                        padding: .375rem .75rem;
                        border-radius: .375rem;
                        width: 50%;


                        font-size: .9rem;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background-color: #0b5ed7;
                        }

                        &:focus-visible {
                            border: 2px solid white;
                            outline: 2px solid black;
                        }
                    }
                }
            }
        }
    }

    footer {
        position: relative;
        height: fit-content;
        background-color: #bb0404;
        display: flex;
        padding: 24px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 8px;

        .social-media {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        $iconSize: 32px;

        a {
            display: block;
            font-size: $iconSize;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 8px;
            padding: 2px 4px 0px 5px;

            &#fb {
                color: #1877F2;
                background-color: white;
            }

            &#ig {
                background: rgb(249, 206, 52);
                background: linear-gradient(45deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 35%, rgba(98, 40, 215, 1) 100%);
                color: white;
            }

            &#github {
                background: #010409;
                color: white;
            }

            &#linkedin {
                color: #0072B1;
                background: white;
                background-clip: text;
                padding: 0;
                overflow: hidden;
                position: relative;

                .bi-linkedin {
                    background: white;
                    font-size: calc($iconSize + 16px);
                    position: absolute;
                }
            }
        }
    }
}